<%= render 'optimadmin/shared/header/main_title', title: 'Edit Video' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: videos_path, title: 'Video' %>
  <%= render 'form' %>
</div>
