<div class="service-standard">
  <%= image_tag "icons/#{ service_standard.icon }" %>
  <div class="main-content">
    <%= simple_format service_standard.content %>
  </div>
  <div class="hover-content">
    <%= simple_format service_standard.hover_content %>
  </div>
</div>
