<div class="content-mask-wrap">
  <%= render 'services/categories/shared/navigation', facade: facade, current_service: facade.service %>

  <%#= render 'services/shared/navigation', services: facade.services, current_service: facade.service %>

  <%= render partial: 'services/sections/section',
            collection: facade.sections,
            as: :section,
            cache: true,
            locals: {
              current_service: facade.service
            } %>
</div>
