<%= render 'optimadmin/shared/help_guides/sidebar', object: Services::CategorySection, area: 'edit' %>
<%= render 'optimadmin/shared/header/main_title', title: "Edit #{Services::CategorySection.model_name.human.titleize}" %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: { action: :index }, title: Services::CategorySection.model_name.human.titleize %>
  <%= render 'form', model: @services_category_section %>
</div>
