<div class="hero-navigation-wrap">
  <div class="hero-navigation">
    <ul class="body-part-section-navigation-links">
      <%= child_menu_items(menu_items: @page.side_menus.last.child_menu_items(@page)) %>
    </ul>
  </div>
</div>
