<% # TODO: Find a way to grid the content %>
<div class="services-cta-list-service-white">
  <div class="services-cta-list-service-white__inner">
    <div class="services-cta-list-service-white__content">
      <h2 class="services-cta-list-service-white__title services-cta-list-service-white__title--<%= current_service.colour %>">
        <%= item.title %>
      </h2>

      <%= raw item.content %>
    </div>
  </div>
</div>
