<div class="services-cta-list-service-colour" data-animation-type="fadeIn" data-animation-delay="250">
  <div class="services-cta-list-service-colour__inner">
    <div class="services-cta-list-service-colour__content services-cta-list-service-colour__content--<%= current_service.colour %>">
      <h2 class="services-cta-list-service-colour__title">
        <%= item.title %>
      </h2>

      <%#= raw item.content %>

      <% # TODO: Import to TinyMCE %>
      <div class="services-time-required">
        <div class="services-time-required__inner">
          <strong>15 min</strong>
          Triage
        </div>
        <div class="services-time-required__inner">
          <strong>45 min</strong>
          Initial Assessment (IA)
        </div>
        <div class="services-time-required__inner">
          <strong>30 min</strong>
          10 day follow up
        </div>
      </div>

    </div>
  </div>
</div>
