<div class="services-cta-list-service-white"  data-animation-type="fadeIn" data-animation-delay="500">
  <div class="services-cta-list-service-white__inner">
    <div class="services-cta-list-service-white__content">
      <h2 class="services-cta-list-service-white__title services-cta-list-service-white__title--<%= current_service.colour %>">
        <%= item.title %>
      </h2>

      <div class="services-turnaround services-turnaround--<%= current_service.colour %>">
        <div class="services-turnaround__inner-12">
          <%= raw item.content %>
        </div>
      </div>
    </div>
  </div>
</div>
