<% # TODO: Find a way to grid the content %>
<div class="services-cta-list-service-colour">
  <div class="services-cta-list-service-colour__inner">
    <div class="services-cta-list-service-colour__content services-cta-list-service-colour__content--<%= current_service.colour %>">
      <h2 class="services-cta-list-service-colour__title">
        <%= item.title %>
      </h2>

      <%= raw item.content %>
    </div>
  </div>
</div>
