<div class="services-section-item-colour" data-animation-type="zoomIn" data-animation-delay="250">
  <div class="services-section-item-colour__inner services-section-item-colour__inner--<%= current_service.colour %>">
    <% if item.title? %>
      <h2 class="services-section-item-colour__title services-section-item-colour__title--<%= current_service.colour %>">
        <%= item.title %>
      </h2>
    <% end %>

    <%= raw item.content %>
  </div>
</div>
