<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title full-width">
      <%= I18n.t('practice_applications.new.header') %>
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <%= render 'shared/flash_messages' %>

        <p>
          Our carefully selected, managed network consists entirely of
          handpicked Chartered Physiotherapists and established clinics that
          offer a professional and friendly approach to patient care with a
          high emphasis on manual therapy.
        </p>

        <p>
          The Physiotherapists within our network benefit from receiving high
          quality, triaged referrals and the opportunity to work with some of
          the UK's largest and most prestigious organisations.
        </p>

        <p>
          We are always keen to hear from Chartered Physiotherapists who feel
          they would be a valuable addition to our network. If this sounds like
          you, then we look forward to receiving the completed registration form
          below and copies of your relevant insurance documentation.
        </p>

        <p>
          If you have any further questions please do not hesitate to contact
          one of the team.
        </p>

        <%= render 'form' %>
      </div>
    </div>
    <div class="page-contact-methods-wrap">
      <div class="page-contact-methods">
        <h4>
          Talk to our clinical team
        </h4>

        <ul class="page-contact-method-links">
          <%= render 'shared/contact_method_items' %>
        </ul>
      </div>
    </div>
  </div>
</div>
