<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title full-width">
      <%= I18n.t('practice_applications.new.header') %>
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <%= render 'shared/flash_messages' %>

        <p>
          Thank you for your submission.
        </p>

        <p>Your Practice Application has been successfully created.</p>
      </div>
    </div>
    <div class="page-contact-methods-wrap">
      <div class="page-contact-methods">
        <h4>
          Talk to our clinical team
        </h4>

        <ul class="page-contact-method-links">
          <%= render 'shared/contact_method_items' %>
        </ul>
      </div>
    </div>
  </div>
</div>
