<%= render 'optimadmin/shared/help_guides/sidebar', object: Services::Section, area: 'edit' %>
<%= render 'optimadmin/shared/header/main_title', title: "Edit #{Services::Section.model_name.human.titleize}" %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: service_sections_path(@service), title: Services::Section.model_name.human.titleize %>
  <%= render 'form', model: @services_section %>
</div>
