<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title full-width">
      Videos
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <%= render(
          partial: "subcategories/subcategory",
          collection: @subcategories
        ) %>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render partial: 'shared/sidebar' %>
    </div>
  </div>
</div>
