<%= render 'optimadmin/shared/header/main_title', title: 'New Team Member Category' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back',
    path: team_member_categories_path, title: 'Team Member Category' %>
  <%= render 'form' %>
</div>
