<div class="article sidebar">
  <%= image_tag article.image.sidebar, alt: article.title if article.image? %>
  <div class="details">
    <%= link_to article.title, article, class: "title" %>
    <span class="date"><%= l article.date, format: :long %></span>
  </div>
</div>
