<% cache ['supplementary_article', article] do %>
  <div class="article wellbeing supplementary">
    <%= link_to article, class: "beige-background" do %>
      <div class="date">
        <%= l article.date, format: :slashes %>
      </div>
      <div class="title">
        <%= article.title %>
      </div>
    <% end %>
  </div>
<% end %>
