.sticky-hero-navigation {
  background: $brown;
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  a {
    color: $white;
  }
}

.sticky-hero-navigation-content {
  margin: 0 auto;
  width: $global-width;
}

.sticky-body-part-name {
  background: image-url('health-zone/white-mini-arrow.png') no-repeat center right;
  color: $white;
  font-size: rem(16px);
  font-weight: $open-sans-bold;
  margin-right: rem(20px);
  padding-right: rem(10px);
}

.sticky-hero-navigation-links {
  display: inline-block;

  li {
    display: inline-block;
    margin: 0 rem(5px);
  }
}

.sticky-page-contact-methods {
  border-left: 1px solid $green;
  display: inline-block;
  margin: rem(5px) 0 rem(5px) rem(5px);
  padding: 0 0 0 rem(5px);

  li {
    display: inline-block;
    text-indent: -9999px;
    width: 50px;

    .contact-method {
      background-position: center;
    }
  }
}

.hero-section-primary-content {
  @include media('>=768px') {
    @include flex-grid-row;
    text-align: left;
  }
}

.hero-navigation-wrap {
  margin: rem(0 10px 10px);

  @include media('>=768px') {
    @include flex-grid-column(3);
    margin: 0;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 0;
  }
}

.hero-navigation {
  @include border-radius-with-dark-box-shadow;
  background: $white;
  padding: rem(23px) 0;
}

.hero-navigation-links {
  background: $dark-brown-offset image-url('health-zone/body-part/body-part-navigation-background.jpg') repeat-x top left;
  list-style: none;
  margin: 0 0 rem(20px);
  padding: rem(22px) 0;

  a {
    color: $white;
    display: block;
    font-size: rem(16px);
    font-weight: $open-sans-bold;
    padding: 0 rem(22px);

    &:hover {
      color: $beige;
    }

    &.current-body-part {
      background: image-url('health-zone/white-mini-arrow-down.png') no-repeat 90% 50%;
    }
  }

  li:hover .hero-navigation-links-dropdown {
    display: block;
  }
}

.hero-navigation-links-dropdown {
  display: none;
  list-style: none;
  margin: 0;
  padding: rem(10px) 0;

  a {
    padding-bottom: rem(2px);
    padding-top: rem(2px);
  }
}

.body-part-section-navigation-links {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    display: block;
    font-size: rem(15px);
    font-weight: $open-sans-bold;
    padding: rem(4px) rem(11px);

    @include media('>=1024px') {
      padding: rem(4px) rem(22px);
    }

    &:hover {
      color: $black;
    }
  }
}
