.primary-header-navigation-wrap {
  width: 100%;

  @include media('>=768px') {
    @include flex-grid-column(9);
  }
}

.header-dropdown {
  display: none;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 10;
}

.primary-header-navigation {
  display: none;
  list-style: none;
  position: relative;

  @include media('>=768px') {
    display: block;
    margin: rem(25px 0 0);
  }

  &.visible {
    display: block;
  }

  li {
    @include media('>=768px') {
      display: inline-block;

      &:hover .dropdown,
      &:hover .header-dropdown {
        display: block;
      }
    }
  }

  .menu-link {
    display: block;

    &:link,
    &:visited {
      border-bottom: 4px solid $white;
      color: $brown;
      font-family: $ubuntu;
      font-weight: $ubuntu-light;
      line-height: 1;
      padding: rem(0 5px 15px);
    }

    &.active {
      border-bottom: 4px solid $green;
    }

    &:hover,
    &:active {
      border-bottom: 0;
      color: $green;
    }
  }
}

.primary-header .dropdown-links {
  background: $mud-brown;
  display: block;
  list-style: none;
  margin: 0 0 0 rem(10px);
  padding: rem(5px);
  z-index: 10;

  @include media('>=768px') {
    background: linear-gradient(to bottom, $mud-brown 0%, $brown 100%), $brown;
    box-shadow: 8px 11px 12px 0 rgba($black, .6);
    left: 0;
    margin: 0;
    padding: rem(25px) rem(25px) rem(14px);
    position: absolute;
    width: 100%;
  }

  .dropdown,
  .dropdown-arrow {
    display: none !important;
  }

  .menu-link {
    &:link,
    &:visited {
      color: $white;
      border: 0;
    }

    &:hover,
    &:active {
      color: $white;
      text-decoration: underline;
    }
  }
}

.dropdown-arrow {
  display: block;
  position: relative;
  top: 0;
}

// Stop the two line content flash, until the font has loaded
.wf-active .primary-header-navigation .menu-link {
  padding: rem(7px 15px);

  @include media('>=768px') {
    padding: rem(0 5px 15px);
  }
}
