.primary-header-navigation {
  list-style: none;
  margin: rem(25px 0 0);
  position: relative;

  li {
    display: inline-block;

    &:hover .dropdown,
    &:hover .dropdown-arrow {
      display: block;
    }
  }

  .menu-link {
    display: block;

    &:link,
    &:visited {
      color: $brown;
      font-family: $ubuntu;
      font-weight: $ubuntu-light;
      line-height: 1;
      padding: rem(0 5px 30px);
    }

    &:hover,
    &:active {
      color: $green;
    }

    &.active {
      border-bottom: 4px solid $green;
    }
  }
}

.dropdown {
  background: linear-gradient(to bottom, $mud-brown 0%, $brown 100%), $brown;
  box-shadow: 8px 11px 12px 0 rgba($black, .6);
  display: none;
  left: 0;
  margin: 0;
  padding: rem(25px) rem(25px) 0;
  position: absolute;
  width: 100%;
  z-index: 10;

  .menu-link {
    &:link,
    &:visited {
      color: $white;
    }

    &:hover,
    &:active {
      color: $white;
      text-decoration: underline;
    }
  }
}

.dropdown-arrow {
  display: none;

  &.visible {
    display: block;
    position: absolute;
    top: 27px;
  }
}

// Stop the two line content flash, until the font has loaded
.wf-active .primary-header-navigation .menu-link {
  padding: rem(0 8px 5px);
  
  @include media('>=768px') {
    padding: rem(0 8px 30px);
  }
}
