<% @members.body['members'].each do |member| %>
    <%#= debug member %>
      <div class="row module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list">
        <div class="large-6 columns" data-equalizer-watch="module-list">
        <%#= link_to 'View stats', mailchimp_subscriber_path(member['id']) %>
          <strong>
            <%= member['merge_fields']['FNAME'] %>
            <%= member['merge_fields']['LNAME'] %>
          </strong>
          <br />
          <%#= mail_to member['email_address'] %>
        </div>
        <div class="large-3 columns">
          Avg. open rate: <%#= number_to_percentage member['stats']['avg_open_rate'] %><br />
          Avg. click rate: <%#= number_to_percentage member['stats']['avg_click_rate'] %>
        </div>
      </div>
    <% end %>
    <%#= debug @campaigns %>
