<%= render 'optimadmin/shared/header/main_title', title: 'Edit Job Listing' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: job_listings_path, title: 'Job Listing' %>
  <%= render 'form' %>
</div>
