<%= render 'optimadmin/shared/header/main_title', title: 'Edit Client Zone Service' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: client_zone_services_path, title: 'Client Zone Service' %>
  <%= render 'form' %>
</div>
