<div class="home-health-zone">
  <% present health_zone do |health_zone_presenter| %>
    <div class="home-health-zone-content">
      <%= health_zone_presenter.show_home_image %>

      <div class="home-health-zone-hover">
        <%= health_zone_presenter.hover_text %>
      </div>
  </div>

    <%= health_zone_presenter.title_link(class: 'home-health-zone-link') %>
  <% end %>
</div>
