<div class="home-health-zone">
  <% present health_zone do |health_zone_presenter| %>
    <%= health_zone_presenter.show_home_image %>
    <%= health_zone_presenter.hover_text %>
    <%= health_zone_presenter.title_link %>
  <% end %>
</div>
