.mobile-clinic-and-client-area-buttons {
  background: $beige;
  display: block;
  padding: rem(30px 0 15px);
  width: 100%;

  .clinic-button {
    border-radius: 0;
    padding-left: rem(15px);
  }

  @include media('>=768px') {
    display: none;
  }
}

footer {
  background-color: $mud-brown;
  color: $white;

  .awards-container {
    background-color: $white;
    width: 100%;
  }

  .awards-title {
    font-size: rem(18px);
    font-weight: 400;
  }

  .footer-container {
    @include flex-grid-row;
    text-align: center;

    &.small-print {
      padding: rem(55px 0 23px);
    }

    h2 {
      width: 100%;
    }

    p {
      display: block;
      font-size: rem(14px);
      margin: 0 auto rem(5px);
      text-align: center;
      width: 900px;

      &.physiotherapists-small-print {
        font-size: rem(13px);
        margin: rem(23px) auto 0;
      }
    }
  }
}

.awards-container {
  padding: rem(50px 0);
  text-align: center;
}

.rich-snippets {
  display: block;
  font-size: rem(13px);
  padding: rem(0 0 5px);
  text-align: center;

  div:first-of-type span {
    font-weight: $open-sans-bold;
  }

  img {
    display: block;
    margin: rem(5px) auto;
  }
}
