body {
  font-size: rem(14px);
}

a {
  color: $brown;
  text-decoration: none;
  transition: color .25s ease, background .25s ease;
}

h2 {
  text-transform: uppercase;
}

::selection {
  background: $beige;
}
::-moz-selection {
  background: $beige;
}

.green-border-bottom {
  border-bottom: 1px solid $green;
}

.brown-background {
  background-color: $brown;
}

.beige-background {
  background-color: $beige;
}

.white-background {
  background-color: $white;
}

.green-background {
  background-color: $green;
}

.white {
  color: $white;
}

.green {
  color: $green;
}

.text-center {
  text-align: center;
}

a.button {
  color: $white;
  display: inline-block;
  font-family: $ubuntu;
  font-weight: $ubuntu-light;
  padding: rem-calc(5px 10px);
  border-radius: rem-calc(3px);
  text-align: center;
}

a.button.brown-background:hover {
  background-color: lighten($brown, 10%);
}

.content {
  section.box-wrap {
    @include flex-grid-row;
  }

  section.flexbox-wrap {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include media('>768px') {
      width: $grid-row-width;
    }
  }

  section.box-wrap, section.flexbox-wrap {
    margin: rem-calc(20px) auto;
  }
}

.content-box-title {
  @include content-box-title;
}

.content-wrap {
  @include flex-grid-row;

  aside.side-nav-container {
    @include flex-grid-column(2);
  }
  .module-content {
    @include flex-grid-column(8);
  }
  aside.call-to-action {
    @include flex-grid-column(2);
  }

}

.secondary-contact-methods {
  @include flex-grid-row;
}

.secondary-contact-method-details {
  @include flex-grid-column(4, $gutter: (small: 0));

  strong {
    display: inline-block;
    width: 60px;
  }
}

.secondary-contact-method-map {
  @include flex-grid-column(7, $gutter: (small: 0));
}

#map-canvas {
  height: 223px;
  margin-top: 63px;
  width: 540px;

  img {
    max-width: initial;
  }
}

.maps-info-window-popup {
  height: 30px;
  width: 250px;
}
