.guides-container {
  @include border-radius-with-dark-box-shadow;
  background: $white;
  text-align: left;
  padding: rem(15px);
  width: 100%;

  .slick-controls {
    float: right;
    margin: rem(12px 0 0);
    position: relative;
  }

  @include media('>=768px') {
    padding: rem(10px) rem(25px) rem(25px);
  }
}

.guides-container-title {
  @include content-box-title;
  @include module-container-title-header;
  text-align: center;
}

.guides {
  @include media('>=768px') {
    @include flex-grid-row;
  }

  &.wellbeing .guide {
    margin: rem(10px) 0;

    @include media('>=768px') {
      @include flex-grid-column(6, $gutter: (small: 0));
      margin: rem(15px) auto;
    }
  }
}

.guide-content-wrap {
  @include flex-grid-row;
}

.guide-image {
  @include flex-grid-column(4);
}

.guide-content {
  @include flex-grid-column(8);
  @include clearfix;
}

.guide-title {
  color: $green;
  font-size: rem(19px);
  font-weight: $open-sans-extrabold;
  margin: 0 0 rem(19px);
}

.guide-download-button {
  width: 100%;
  margin: rem(10px 0 0)
}
