.primary-header {
  border-top: 2px solid $green;
  margin: rem(0 0 35px);
}

.primary-header-content-wrap {
  @include flex-grid-row;
}

.primary-header-content {
  @include flex-grid-column(12);
}

.primary-header-branding {
  @include flex-grid-column(2);
  clear: right;
}

.primary-header-navigation-wrap {
  @include flex-grid-column(8);
}

.primary-header-cta {
  @include flex-grid-column(2);
  text-align: right;
}

.client-area-button {
  background: $brown-offset;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  clear: right;
  float: right;
  font-family: $ubuntu;
  font-weight: $ubuntu-light;
  line-height: 1;
  padding: rem(12px 40px);

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:active {
    background: $green;
  }
}
