.home.content {
  @include additional-home-content;
  @include service-standard-home-content;
  background: image-url('banner/colour-bg.jpg') no-repeat top center;
  background-size: 1366px 100%;
  padding: rem(1px);

  @include media('>=#{$grid-row-width}') {
    padding: rem(220px 0 1px);
  }



  .physio-search {
    @include physio-search;
  }

  .case-studies-container {
    position: relative;
    .slick-controls {
      float: right;

      @include media('>768px') {
        // margin: rem(20px 10px 0 15px);
      }
    }
  }

  .articles-container {
    @include border-radius-with-box-shadow;
    @include flex-grid-column(12);
    background-color: $white;
    padding-bottom: rem-calc(20px);
    padding-top: rem-calc(20px);
    position: relative;

    .articles {
      margin: 0 auto;
      width: 91%;
    }
  }

  .clients-container {
    @include breakpoint(small only) {
      @include flex-grid-column(12, 0);
    }

    @include breakpoint(medium) {
      @include flex-grid-column(8);
      padding-left: 0;
    }

    &.full-width {
      @include flex-grid-column($columns: 12, $gutter: (medium: 0));
    }
  }

  .clients-container-content {
    @include border-radius-with-box-shadow;
    background-color: $white;
    height: 100%;
    padding: rem(20px);
  }

  .job-listings-container {
    @include flex-grid-column($columns: 12, $gutter: (small: 0));
    margin-top: rem(20px);

    @include breakpoint(medium) {
      @include flex-grid-column($columns: 4, $gutter: (small: 0));
      margin-top: 0;
    }
  }

  .job-listings-content {
    @include border-radius-with-box-shadow;
    @include clearfix;
    background-color: $white;
    padding: rem(20px);
  }

  .job-listings-view-all {
    float: right;
  }

  .flexbox-wrap {
    display: block;

    @include media('>=768px') {
      display: flex;
    }

    &--pal {
      margin-top: 0;
    }
  }
}


.additional-pal-content {
  @include border-radius-with-box-shadow;
  background-color: $white;
  margin: 0 0 rem-calc(25px);
  padding: rem-calc(20px);
  width: 100%;

  .flex-video {
    margin-bottom: 0;
    padding-bottom: 57%;
  }

  .pal-overview {
    @include flex-grid-row(nest);

    &__video {
      @include breakpoint(small only) {
        @include flex-grid-column(12);
      }

      @include breakpoint(medium) {
        @include flex-grid-column(4);
      }

      .flex-video {
        margin-top: rem(20px);
      }
    }

    &__content {
      @include page-styles;

      @include breakpoint(small only) {
        @include flex-grid-column(12);
      }

      @include breakpoint(medium) {
        @include flex-grid-column(8);
      }
    }
  }
}
