.home.content {
  background-color: $beige;
  padding: rem(220px 0 1px);

  .service-standards {
    @include flex-grid-column(12);
    h2 {
      text-align: center;
    }
  }

  .service-standard-wrap {
    @include flex-grid-layout(7, '.service-standard');
    display: flex;
  }

  .additional-home-content {
    background-color: $white;
  }

  .additional-home-content.video {
    padding: 0;
  }

  .additional-home-content, .physio-search, .case-studies-container, .testimonials-container {
    width: 32%;
    padding: rem-calc(20px);
    @include border-radius-with-box-shadow;
  }

  .physio-search {
    background-image: image-url('map/uk.png');
    background-position: 95% 50%;
    background-repeat: no-repeat;


    .input-add-on {
      display: flex;
    }

    .input-add-on-field {
      flex: 1;
    }

    .input-add-on-field:not(:first-child) {
      border-left: 0;
    }

    .input-add-on-field:not(:last-child) {
      border-right: 0;
    }

    .input-add-on-item {
      background-color: rgba(147, 128, 108, 0.1);
      color: #666666;
      font: inherit;
      font-weight: normal;
    }

    .input-add-on-field,
    .input-add-on-item {
      border: 1px solid rgba(147, 128, 108, 0.25);
      padding: 0.5em 0.75em;
    }
    .input-add-on-field:first-child,
    .input-add-on-item:first-child {
      border-radius: 2px 0 0 2px;
    }
    .input-add-on-field:last-child,
    .input-add-on-item:last-child {
      border-radius: 0 2px 2px 0;
    }
    input-add-on {
      display: flex;
    }

    .input-add-on-field {
      flex: 1;
    }

    .input-add-on-field:not(:first-child) {
      border-left: 0;
    }

    .input-add-on-field:not(:last-child) {
      border-right: 0;
    }

    .input-add-on-item {
      background-color: rgba(147, 128, 108, 0.1);
      color: #666666;
      font: inherit;
      font-weight: normal;
    }

    .input-add-on-field,
    .input-add-on-item {
      border: 1px solid rgba(147, 128, 108, 0.25);
      padding: 0.5em 0.75em;
    }
    .input-add-on-field:first-child,
    .input-add-on-item:first-child {
      border-radius: 2px 0 0 2px;
    }
    .input-add-on-field:last-child,
    .input-add-on-item:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

  .case-studies-container {
    position: relative;
    .slick-controls {
      float: right;
      margin: rem(20px 10px 0 15px);
      //position: absolute;
      //top: rem-calc(45px);
      //right: rem-calc(25px);
    }
  }

  .articles-container {
    position: relative;
    @include border-radius-with-box-shadow;
    @include flex-grid-column(12);
    background-color: $white;
    .articles {
      width: 91%;
      margin: 0 auto;
    }
    padding-top: rem-calc(20px);
    padding-bottom: rem-calc(20px);
  }

  .clients {
    background-color: $white;
    padding: rem-calc(20px);
    @include border-radius-with-box-shadow;
    @include flex-grid-column(12);
    .client-container {
      @include flex-grid-row;
    }
  }
}
