.home.content {
  background-color: $beige;
  padding: rem(1px);

  @include media('>=#{$grid-row-width}') {
    padding: rem(220px 0 1px);
  }

  .service-standards {
    width: 100%;

    @include media('>=768px') {
      @include flex-grid-column(12);
    }

    h2 {
      text-align: center;
    }
  }

  .service-standard-wrap {
    @include media('>=768px') {
      @include flex-grid-layout(7, '.service-standard');
      display: flex;
    }
  }

  .additional-home-content {
    background-color: $white;

    li {
      font-size: rem(14px);
      font-weight: $open-sans-bold;
      line-height: 1.5;
      list-style-image: image-url('tick.png');
      margin: rem(10px 0);

      @include media('>768px') {
        font-size: rem(16px);
      }
    }

    .video {
      padding: 0;
    }
  }

  .additional-home-content,
  .physio-search,
  .case-studies-container,
  .testimonials-container {
    @include border-radius-with-box-shadow;
    margin: rem-calc(25px) 0;
    padding: rem-calc(20px);

    @include media('>=768px', '<1024px') {
      margin: rem(25px 0);
      width: 100%;
    }

    @include media('>=1024px') {
      margin: 0;
      width: 32%;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .physio-search {
    @include physio-search;
  }

  .case-studies-container {
    position: relative;
    .slick-controls {
      float: right;

      @include media('>768px') {
        // margin: rem(20px 10px 0 15px);
      }
    }
  }

  .articles-container {
    @include border-radius-with-box-shadow;
    @include flex-grid-column(12);
    background-color: $white;
    padding-bottom: rem-calc(20px);
    padding-top: rem-calc(20px);
    position: relative;

    .articles {
      margin: 0 auto;
      width: 91%;
    }
  }

  .clients-container {
    @include border-radius-with-box-shadow;
    @include flex-grid-column(12);
    background-color: $white;
    padding: rem-calc(20px);
  }

  .flexbox-wrap {
    display: block;

    @include media('>=1024px') {
      display: flex;
    }
  }
}
