.page-content {
  margin-bottom: rem(25px);
}

.body-part-summary,
.page-content {
  @include border-radius-with-dark-box-shadow;
  @include page-styles;
  background: $white;
  padding: rem(15px) rem(30px);
  position: relative;
  overflow: hidden;

  .team-members {
    padding: 0 rem(25px);
  }

  img.page-image {
    float: right;
    @include clearfix;
  }
}

@include media('>=768px') {
  .page-content-wrap {
    @include flex-grid-column(6);

    &.full-width {
      @include flex-grid-column(9);
    }
  }
}

.hero-section {
  background: $beige;
  margin: 0 auto;
  padding: rem(10px) 0;
  position: relative;

  @include media('>768px') {
    background: image-url('banner/mask.png') no-repeat top center,
                image-url('layout/photography/wellbeing-zone.jpg') no-repeat top center,
                image-url('banner/colour-bg.jpg') no-repeat top center;
    background-size: auto, auto, 1366px 100%;
    padding: rem(140px) 0 0;
  }

  @include media('>768px') {
    &.body-part-background {
      background: image-url('banner/mask.png') no-repeat top center,
                  image-url('layout/photography/wellbeing-zone.jpg') no-repeat top center,
                  image-url('banner/colour-bg.jpg') no-repeat top center;
      background-size: auto, auto, 1366px 100%;
    }

    &.standard-page-background {
      background: image-url('banner/mask.png') no-repeat top center,
                  image-url('layout/photography/standard-page.jpg') no-repeat top center,
                  image-url('banner/colour-bg.jpg') no-repeat top center;
      background-size: auto, auto, 1366px 100%;
    }

    &.what-we-do-background {
      background: image-url('layout/photography/what-we-do.jpg') no-repeat top center,
                  image-url('banner/colour-bg.jpg') no-repeat top center;
      background-size: auto, 1366px 100%;
      padding: 0;
    }
  }
}

.hero-section-overlay-mask {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hero-section-header {
  text-align: center;
}

.hero-section-title {
  font-family: $open-sans;
  font-size: rem(28px);
  font-weight: $open-sans-bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include media('>768px') {
    color: $white;
    font-size: rem(38px);
    max-width: calc(#{$global-width} - 80px);
    text-shadow: 1px 1px 9px rgba($black, .5);

    a {
      color: $white;
    }
  }

  &.full-width {
    margin-bottom: 0;
    margin-top: 0;
    padding: rem(15px);
    text-align: left;

    @include media('>768px') {
      margin-bottom: rem(15px);
      padding: 0;
    }
  }

  &.page {
    margin-top: 0;
    text-align: left;
    max-width: $global-width;
  }
}

.hero-section-subtitle {
  color: $white;
  font-family: $open-sans;
  font-size: rem(18px);
  font-weight: $open-sans-bold;
  margin: 0;
  text-shadow: 1px 1px 9px rgba($black, .5);
}

.hero-section-button,
.wellbeing-full-section-button {
  background: image-url('icons/button-arrow.png') no-repeat 95% 50%,
              linear-gradient(to right, $dark-green 0%, $pale-green 100%),
              $green;
  display: inline-block;
  font-size: rem(16px);
  font-weight: $open-sans-bold;
  padding: rem(23px 90px);

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:active {
    background: image-url('icons/button-arrow.png') no-repeat 95% 50%,
                linear-gradient(to right, $dark-green 0%, $green 100%),
                $green;
    color: $white;
  }

  &.wellbeing-full-section-button {
    display: block;
  }
}

.page-content-image {
  display: block;
  float: right;
  margin: rem(15px);
}

.page-content-footer {
  margin: rem(15px) 0;
}
