.wellbeing.content {
  background-color: $beige;
  padding: rem-calc(5px) 0;

  .body-parts-container {
    background-color: $white;
    @include border-radius-with-box-shadow;
    @include flex-grid-column(12);
    
    .body-parts {
      width: 100%;
      @include flex-grid-row;
    }
  }

  .team-members-container {
    position: relative;
    @include border-radius-with-box-shadow;
    @include flex-grid-column(12);
    background-color: $white;
    .team-members {
      width: 91%;
      margin: 0 auto;
    }
    padding-top: rem-calc(20px);
    padding-bottom: rem-calc(20px);
  }
  
  .articles-container {
    @include border-radius-with-box-shadow;
    width: 65.5%;
    background-color: $white;
    padding: rem-calc(15px);
  }

  .twitter-container {
    @include border-radius-with-box-shadow;
    padding: rem-calc(15px);
    width: 33%;
    color: $white;
  }
  
  .faqs-container {
    @include flex-grid-column(12);
    @include border-radius-with-box-shadow;
    background-color: $white;

    .faqs {
      @include flex-grid-row;
    }
  }

  .case-studies-container {
    @include border-radius-with-box-shadow;
    background-color: $white;
    width: 65.5%;
    padding: rem-calc(15px);
  }

  .testimonials-container {
    @include border-radius-with-box-shadow;
    width: 33%;
    padding: rem-calc(15px);
  }
}
