.what-we-do-content-wrap {
  @include flex-grid-row;
}

.what-we-do-content {
  @include breakpoint(medium down) {
    @include flex-grid-column(12, 60);
  }

  @include breakpoint(large) {
    @include flex-grid-column(6, $gutter: (medium: 60));
  }

  background: rgba($green, .75);
  color: $white;
  padding: rem(140px) 0 rem(40px);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  p {
    font-size: rem(16px);
    font-weight: $open-sans-semibold;
  }
}

.what-we-do-title {
  font-size: rem(38px);
  line-height: 1.25;
}

.what-we-do-summary-wrap {
  @include border-radius-with-dark-box-shadow;
  background: $white;
  padding: rem(25px) rem(15px);
  width: 100%;
}

.what-we-do-summary-title {
  @include module-container-title;

  h2 {
    float: none;
    text-align: center;
  }
}

.what-we-do-container {
  padding: rem(1);
}

.what-we-do-sections {
  @include flex-grid-row;
}

.what-we-do-item {
  @include breakpoint(medium down) {
    @include flex-grid-column(12);
  }
  @include breakpoint(large) {
    @include flex-grid-column(3);
  }
}

.what-we-do-item-list {
  font-weight: $open-sans-semibold;
  list-style: disc inside image-url('icons/green-arrow.png');
  margin: 0 rem(10px);
  padding: 0;

  li {
    margin: rem(4px) 0;

    .current {
      text-decoration: underline !important;
    }
  }
}

.what-we-do-item-title {
  // TODO: Make this nice, rather than a BG image.
  background: $white image-url('what-we-do/title-background.jpg') no-repeat center;
  color: $white;
  font-size: rem(18px);
  font-weight: $open-sans-extrabold;
  line-height: 1.25;
  min-height: 127px;
  padding: rem(35px);
  text-align: center;

  &.sidebar {
    background: $green; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0YTYzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZTk0MmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, $green 0%, $dark-green 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $green 0%, $dark-green 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $green 0%, $dark-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$green', endColorstr='$dark-green',GradientType=0 ); /* IE6-8 */
    margin: 0 12px;

    font-size: rem(14px);
    padding: rem(15px);
    text-align: left;
    min-height: inherit;

    @include media('>=1024px') {
      background: $white image-url('what-we-do/title-small.png') no-repeat left center;
      margin: 0;
      min-height: 85px;
      padding: rem(24px 14px);
    }

    a {
      color: $white;
    }
  }

  &.current {
    text-decoration: underline;
  }
}

.wwd-download-pdf {
  background: $brown;
  border-radius: 5px;
  box-shadow: 1px 3px 3px 0 $brown;
  color: $white;
  display: block;
  margin: 0 auto;
  padding: rem(5px 15px 5px 5px);

  @include media('>=1024px') {
    width: 246px;
  }

  img {
    border-radius: 5px;
    margin-right: rem(10px);
  }

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:active {
    background: $green;
  }
}
