<div class="split-guides">
  <div class="videos-with-guides-container">
    <div class="videos-with-guides-container-title">
      <h2>Download Our<br />
         Free Guides</h2>
    </div>
    <p>
      Download our FREE GUIDES for more physiotherapy advice
      to improve your health wellbeing, reduce pains caused by musculoskeletal
      conditions and avoid future injuries by strengthing your muscles.
    </p>
    <%= link_to 'Find out more', wellbeing_zone_root_path, class: 'button brown-background' %>
  </div>
</div>
