.team-member {
  padding: rem-calc(10px);

  &:hover {
    background-color: $beige;
    border-radius: 6px;
  }

  .name {
    border-bottom: 1px solid $brown;
    padding: rem-calc(10px 0);

    @include media('<768px') {
      padding: rem-calc(5px 0);

      br {
        display: none;
      }
    }
  }

  .role {
    margin: rem-calc(5px) auto;
    color: $green;
  }
}

.team-members-container {
  h2 {
    font-size: rem(18px);
    font-weight: 400;
  }

  span {
    display: block;
    font-weight: $open-sans-bold;

    @include media('>=768px') {
      display: inline-block;
    }
  }
}

.page-author-information {
  @include border-radius-with-dark-box-shadow;
  background: $white;
  margin: rem(25px) 0;

  .team-member {
    @include flex-grid-row;

    .name {
      padding: 0 0 rem(5px);
    }
  }

  .image {
    @include flex-grid-column(3, $gutter: ( small: 0 ));
  }

  .basic-details {
    @include flex-grid-column(9, $gutter: ( small: 10 ));
  }
}

.wellbeing.team-member {
  img {
    margin: 0 auto;
  }
}
