.team-member {
  padding: rem-calc(10px);

  .image img {
    border-radius: 50%;
  }

  &:hover {
    background-color: $beige;
    border-radius: 6px;
  }

  .name {
    //border-bottom: 1px solid $brown;
    font-weight: $open-sans-bold;

    @include media('<768px') {

      br {
        display: none;
      }
    }
  }

  .role {
    font-size: rem(13px);
    margin: 0 auto;
  }
}

.team-members-container {
  h2 {
    font-size: rem(18px);
    font-weight: 400;
  }

  span {
    display: block;
    font-weight: $open-sans-bold;

    @include media('>=768px') {
      display: inline-block;
    }
  }
}

.page-author-information,
.page-sidebar-information {
  @include border-radius-with-dark-box-shadow;
  background: $white;
  margin: rem(10px);

  @include media('>=768px') {
    margin: rem(25px) 0;
  }

  .team-member {
    @include flex-grid-row;

    .name {
      padding: 0 0 rem(2px);
    }
  }

  .image {
    @include flex-grid-column(3, $gutter: ( small: 0 ));
  }

  .basic-details {
    @include flex-grid-column(9, $gutter: ( small: 10 ));
  }
}

.team-member-category .team-members-container {
  @include flex-grid-row;
}

.team-member.index {
  @include flex-grid-column(3);
}

.page-sidebar-information {
  padding: rem(20px 15px);
}

.wellbeing.team-member {
  img {
    margin: 0 auto;
  }
}
