.modal-overview {
  width: 80%;
  padding: rem-calc(10px);
}

.modal-content {
  @include flex-grid-row;

  .image {
    @include flex-grid-column(4);
  }

  .details {
    &.with-image {
      @include flex-grid-column(7);
    }

    h1 {
      margin-top: 0;
    }
  }
}
