.modal-overview {
  padding: rem-calc(10px);
  width: 800px;
}

.modal-content {
  @include grid-row;

  .image {
    @include grid-column(4);
  }

  .details {
    @include grid-column(7);

    h1 {
      margin-top: 0;
    }
  }
}
