.page-contact-methods {
  @include border-radius-with-dark-box-shadow;
  background: $brown;
  color: $white;
  padding: rem(20px) rem(17px);

  h4 {
    @include content-box-title;
    color: $beige;
    font-size: rem(21px);
    margin: 0;
    padding: 0;
    text-transform: none;
  }
}

.page-contact-method-links {
  list-style: none;
  margin: rem(9px) rem(2px) 0;
  padding: 0;
}

.page-contact-methods-wrap {
  @include flex-grid-column(3);
  @media screen {
    padding-right: 0;
  }
}

.contact-method {
  background-position: right center;
  background-repeat: no-repeat;
  color: $white;
  display: block;
  font-weight: $open-sans-semibold;
  margin: 0;
  min-height: 21px;
  padding: rem(10px) 0;

  &:hover {
    color: $beige;
  }

  &.call-us {
    background-image: image-url('icons/contact-methods/phone.png');
  }

  &.callback {
    background-image: image-url('icons/contact-methods/request-a-callback.png');
  }

  &.email {
    background-image: image-url('icons/contact-methods/email.png');
  }

  &.find-a-physio {
    background-image: image-url('icons/contact-methods/find-a-physio.png');
  }
}
