<%= render 'optimadmin/shared/help_guides/sidebar', object: AdditionalContent, area: 'new' %>
<%= render 'optimadmin/shared/header/main_title', title: "New #{AdditionalContent.model_name.human.titleize}" %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: additional_contents_path, title: AdditionalContent.model_name.human.titleize %>
  <%= render 'form', model: @additional_content %>
</div>
