<div class="video">
  <div class="video-iframe flex-video">
    <%= raw iframe_for(video, width: 345, height: 248) %>
  </div>

  <div class="basic-details">
    <h2 class="green-border-bottom">
      <%= video.title %>
    </h2>

    <h3 class="video-subtitle">
      <%= video.subtitle %>
    </h3>

    <%= raw video.content %>
  </div>
</div>
