<% # TODO: Link these %>
<li>
  <%= link_to 'Call us', '#', class: 'contact-method call-us' %>
</li>
<li>
  <%= link_to 'Request a callback', '#', class: 'contact-method callback' %>
</li>
<li>
  <%= link_to 'Email us', '#', class: 'contact-method email' %>
</li>
<li>
  <%= link_to 'Find a Physio', '#', class: 'contact-method find-a-physio' %>
</li>
