<li>
  <%= link_to  global_site_settings['Phone'], "tel:#{global_site_settings['Phone']}", class: 'contact-method call-us' %>
</li>
<li>
  <%= link_to 'Request a callback', new_contact_path, class: 'contact-method callback' %>
</li>
<li>
  <%= link_to 'Email us', new_contact_path, class: 'contact-method email' %>
</li>
<li>
  <%= link_to 'Find a Physio', '#', class: 'contact-method find-a-physio toggle-class', data: { container: '.find-a-physio-wrap', class: 'visible', return: false } %>
</li>
