<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/testimonials/home' %>
<% end %>

<div class="page-testimonials">
  <h4 class="green-border-bottom text-center">Testimonials</h4>

  <div class="testimonials">
    <%= render testimonials %>
  </div>
</div>
