.services-navigation {
  font-size: 0;
  list-style: none;

  &__item {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    transition: all .15s linear;
    vertical-align: top;
    white-space: nowrap;

    &:hover {
      border: 0;
    }
  }

  &__link {
    @include service-colours(background);
    color: $color--white;
    display: block;
    font-size: rem(14px);
    padding: rem(18px 14px);
    transition: all .15s linear;

    &--active {
      margin-top: rem(-10px);
      padding: rem(30px 20px);
    }

    &:hover {
      margin-top: rem(-5px);
      padding: rem(25px 20px);
    }
  }
}
