<% cache client do %>
  <div data-role="client" class="client">
    <h4 class="green-border-bottom text-center"><%= client.name %></h4>
    <%= image_tag client.logo.sidebar, alt: client.name, title: client.name %>
  </div>
<% end %>
