.moving-is-key-guides {
  .split-guides {
    @include flex-grid-column(3);

    .videos-with-guides-container {
      position: relative;
      padding-bottom: rem(60px);
    }
  }

  .button {
    bottom: 20px;
    position: absolute;
  }
}

.split-guides {
  @include flex-grid-column(4);

  .videos-with-guides-container {
    padding-bottom: rem(15px);
    height: 100%;

    .button {
      margin-top: rem(15px);
    }
  }

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.videos-with-guides-container {
  @include flex-grid-column(12);
  @include border-radius-with-dark-box-shadow;
  background: $white;

  .youtube-title {
    margin: rem(0 0 15px);
  }
}

.videos-with-guides-container-title {
  @include module-container-title;
}

.basic-details-subcategories,
.video-iframe-subcategories {
  @include media('>=768px') {
    @include flex-grid-column(5);

    &.full-width {
      @include flex-grid-column(10);
    }

    .flex-video {
      margin-bottom: 0;
    }

    p {
      font-size: rem(14px);
    }
  }
}

.video-with-guide {
  @include flex-grid-row;
  margin: 0 0 rem(15px);

  .video-iframe,
  .basic-details {
    @include media('>=768px') {
      @include flex-grid-column(5);

      &.full-width {
        @include flex-grid-column(7);
      }

      &.cta-width {
        @include flex-grid-column(9);
      }

      &.large-width {
        @include flex-grid-column(10);
      }
    }
  }

  .guide-subcategory {
    img {
      height: 139px;
    }
  }

  .guide {
    @include media('>=768px') {
      @include flex-grid-column(2);
    }

    .button {
      margin: rem(10px) 0;
      width: 100%;
    }
  }

  h3.video-subtitle {
    color: $green;
    font-size: rem(19px);
    font-weight: $open-sans-extrabold;
    margin: 0 0 rem(19px);
  }
}

.video-with-guide-title {
  @include module-container-title-header;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
}

.video-with-guide-download-button {
  margin: rem(10px 0);
  width: 100%;
}
