<p>This website uses cookies. Your interaction and usage of this website is subject to the points outlined within our <a href="https://www.physiomed.co.uk/pages/privacy-policy">privacy policy</a>.</p>
