<%= render 'optimadmin/shared/header/main_title', title: 'Edit Body Part' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: body_parts_path, title: 'Body Part' %>
  <%= render 'form' %>
</div>
