<% if articles.present? %>
  <div class="articles-container">
    <div class="articles-container-title">
      <h2>
        Related News
      </h2>

      <%= link_to "See more", articles_path, class: "button brown-background" %>
    </div>

    <% articles.each_with_index do |article, i| %>
      <%= render(
        partial: wellbeing_article_partial_path(i),
        object: article,
        as: :article
      ) %>
  <% end %>
  </div>
<% end %>
