<% if case_studies.present? %>
  <div class="case-studies-container" id="case-studies">
    <div class="case-studies-container-title">
      <h2>
        Case Studies
      </h2>

      <%= link_to "See more", case_studies_path, class: "button brown-background" %>
    </div>

    <% case_studies.each_with_index do |case_study, i| %>
      <%= render(
        partial: wellbeing_case_study_partial_path(i),
        object: case_study,
        as: :case_study
      ) %>
  <% end %>
  </div>
<% end %>
