<div class="case-studies-container">
  <%= link_to "See more", case_studies_path, class: "button brown-background" %>
  <h2 class="green-border-bottom">
    Case Studies
  </h2>
  <% case_studies.each_with_index do |case_study, i| %>
    <%= render(
      partial: wellbeing_case_study_partial_path(i),
      object: case_study,
      as: :case_study
    ) %>
  <% end %>
</div>

