<% if faqs.present? %>
  <div class="faqs-container">
    <div class="faqs-container-title">
      <h2>
        Frequently Asked Questions
      </h2>
      <%= link_to "See more", frequently_asked_questions_path, class: "button brown-background" %>
    </div>

    <div class="faqs">
      <%= render(
        partial: "frequently_asked_questions/frequently_asked_question",
        collection: faqs
      ) %>
    </div>
  </div>
<% end %>
