<% if testimonials.present? %>
  <%= content_for :javascript do %>
    <%= javascript_include_tag "components/testimonials/wellbeing_zone" %>
  <% end %>
  <div class="testimonials-container wellbeing green-background" id="testimonials">
    <div class="testimonials wellbeing">
      <%= render(
        partial: "testimonials/testimonial",
        collection: testimonials
      ) %>
    </div>
  </div>
<% end %>
