<%= render 'optimadmin/shared/header/main_title', title: 'Edit Body Part Section' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: landing_page_sections_path(@landing_page), title: 'Section' %>
  <%= render 'form' %>
</div>
