<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= reordering_item.id %>">
  <div class="small-1 columns" data-equalizer-watch="module-list">
    <span class="drag-helper"></span>
  </div>
  <div class="small-11 columns" data-equalizer-watch="module-list">
    <%= reordering_item.title %>
  </div>
</div>
