<%= render 'optimadmin/shared/header/main_title', title: 'Edit Client Zone User' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: client_zone_users_path, title: 'Client Zone User' %>
  <%= render 'form' %>
</div>
