<%= render 'optimadmin/shared/header/main_title', title: 'Edit People Helped Section' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: people_helped_sections_path, title: 'People Helped Section' %>
  <%= render 'form' %>
</div>
