<div class="row">
  <div class="large-3 columns">
    Name
  </div>
  <div class="large-9 columns">
    <%= contact.name %>
  </div>
</div>
<div class="row">
  <div class="large-3 columns">
    Position
  </div>
  <div class="large-9 columns">
    <%= contact.position %>
  </div>
</div>
