<div class="row">
  <div class="large-3 columns">
    Name
  </div>
  <div class="large-9 columns">
    <%= practitioner.name %>
  </div>
</div>
<div class="row">
  <div class="large-3 columns">
    Qualification date
  </div>
  <div class="large-9 columns">
    <%= l practitioner.qualification_date if practitioner.qualification_date %>
  </div>
</div>
<div class="row">
  <div class="large-3 columns">
    Years practicing
  </div>
  <div class="large-9 columns">
    <%= practitioner.years_practicing %>
  </div>
</div>

