<%= render 'optimadmin/shared/header/main_title', title: 'Edit Additional Home Content' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: additional_home_contents_path, title: 'Additional Home Content' %>
  <%= render 'form' %>
</div>
