<%= render 'optimadmin/shared/header/main_title', title: 'New Health Zone' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: health_zones_path, title: 'Health Zone' %>
  <%= render 'form' %>
</div>
