<div class="hero-section body-part-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page full-width">
      <% present @page do |page_presenter| %>
        <%= page_presenter.title %>
      <% end %>
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <% present @page do |page_presenter| %>
          <%= page_presenter.show_image(alt: page_presenter.title, class: 'page-image') %>
          <%= page_presenter.content %>
        <% end %>
      </div>
    </div>

    <%= render "sidebar", page: @page %>
  </div>
</div>
