<div class="page-contact-methods-wrap">
  <div class="page-contact-methods">
    <h4>
      Talk to our clinical team
    </h4>

    <ul class="page-contact-method-links">
      <%= render 'shared/contact_method_items' %>
    </ul>
  </div>
  <% if page.testimonials.displayed.any? %>
    <%= render(
      partial: 'shared/sidebar_testimonials',
      locals: {
        testimonials: page.testimonials.displayed
      }
    ) %>
  <% end %>
</div>
