<%= render 'optimadmin/shared/header/main_title', title: 'New Subcategory' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: subcategories_path, title: 'Subcategory' %>
  <%= render 'form' %>
</div>
