<div class="services-affiliates" data-animation-type="zoomIn">
  <div class="services-affiliates__inner">
    <h2 class="services-affiliates__title">
      <%= defined?(section) ? section.title : 'Proud to support...' %>
    </h2>
  </div>
</div>

<% # TODO: Add lines to connect the affiliates %>
<div class="services-affiliates-breakdown"  data-animation-type="zoomIn" data-animation-delay="250">
  <%= render_cached_partial(
        partial: 'services/affiliates/affiliate',
        collection: Services::Affiliate.displayed,
        as: :affiliate,
        locals: {
          parent_class: 'services-affiliates-item'
        }
      ) %>
</div>

<div class="services-affiliates"  data-animation-type="zoomIn" data-animation-delay="500">
  <div class="services-affiliates__inner">
    <% if defined?(section) && section.button_link? %>
      <%= link_to section.button_text, section.button_link, class: 'services-affiliates__link' %>
    <% else %>
      <%= link_to 'Our case studies', case_studies_path, class: 'services-affiliates__link' %>
    <% end %>
  </div>
</div>


