<%= content_for :javascript do %>
  <script>
    if(Modernizr.mq('(max-width: 767px)')) {
      $(document).ready(function() {
        $('.services-clients-overview-list').slick({
          slidesToShow: 7,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          arrows: false,
          dots: true,
          responsive: [
            {
              breakpoint: 767,
              settings: {
                slidesToShow: 1
              }
            },
          ]
        });
      });
    }
  </script>
<% end %>
<div class="services-clients-overview" data-animation-type="slideInUp" data-animation-delay="250">
  <div class="services-clients-overview__inner">
    <h2 class="services-clients-overview__title">
      <%= section.title %>
    </h2>

    <ul class="services-clients-overview-list">
      <%= render partial: 'clients/shared/inline',
                 collection: Client.ordered_by_position.displayed,
                 as: :client,
                 locals: {
                   parent_class: 'services-clients-overview-list'
                 } %>
    </ul>

    <%= raw section.content %>
  </div>
</div>
