<div class="services-abstract-lines-background">
  <div class="services-abstract-lines" data-animation-type="fadeIn" data-animation-delay="250">
    <div class="services-abstract-lines__inner">
      <div class="services-abstract-lines__content services-abstract-lines__content--<%= current_service.colour %>">
        <div>
          <%= raw section.content %>
        </div>
      </div>
    </div>
  </div>
</div>
