.physiomed-online-assessment-landing-page-banner-wrap {
  margin-bottom: rem(20px);
  min-height: 500px;
  overflow: hidden;
  position: relative;
}

.physiomed-online-assessment-landing-page-banner {
  @include flex-grid-row;
  color: $color--white;
  position: relative;
  z-index: 2;

  @include breakpoint(medium) {
    top: 50%;
    transform: translateY(50%);
  }

  &--margin {
    transform: translateY(100%);
  }

  &__inner {
    @include responsive-flex-grid-column((small only: 12, medium only: 8, large: 5));
    background-color: rgba($color--green, .85);
    padding-bottom: map-get($grid-column-gutter, medium);
    padding-top: map-get($grid-column-gutter, medium);
  }

  &__button {
    background-color: $color--orange;
    border-radius: $global-border-radius--small;
    color: $color--white;
    display: inline-block;
    font-family: $font--ubuntu;
    font-weight: $font--ubuntu--light;
    padding: rem(6px 12px);
    transition: background-color .25s ease-in-out;
    margin-top: rem(16px);

    &:hover,
    &:focus {
      background-color: $color--brown--dark;
      color: $color--white;
    }
  }

  &__title {
    font-size: rem(30px);
    font-weight: $font--open-sans--bold;
    line-height: 1.1;
    margin-bottom: rem(10px);
    margin-top: 0;
    padding-top: 0;
    text-transform: none;

    &--small {
      font-size: rem(25px);
    }
  }

  &__text {
    p {
      font-size: rem(14px);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.physiomed-online-assessment-landing-page {
  @include flex-grid-row;
  margin-top: rem(40px);

  &__inner {
    @include flex-grid-column(12, 0);
  }

  &__title {
    @include generic-bottom-bordered-title;
    text-align: center;
    text-transform: none;
  }

  &__content-box {
    @include content-box-style;
    background: $white;
    margin: 0 rem(10px);
    position: relative;
    padding: rem(15px) rem(30px);
    overflow: hidden;

    &--styles {
      @include page-styles;
    }
  }
}

.physiomed-online-assessment-service-overview-item-wrap {
  background-color: $brown;
  color: $white;
  margin-bottom: rem(40px);
  margin-top: rem(40px);
  padding-bottom: rem(40px);
  padding-top: rem(40px);
}

.physiomed-online-assessment-service-overview-item {
  @include flex-grid-row;

  &__inner {
    @include responsive-flex-grid-column((medium down: 12, large: 4));
  }

  &__button-wrap {
    font-weight: 700;
    margin-top: rem(20px);
    text-align: center;
  }

  .generic-orange-button {
    font-size: 21px;
  }
}

.physiomed-online-assessment-sign-up-item-wrap {
  margin-bottom: rem(40px);
  margin-top: rem(40px);
}

.physiomed-online-assessment-sign-up-item {
  @include flex-grid-row;

  &__inner {
    @include responsive-flex-grid-column((medium down: 12, large: 6));
  }

  &__button-wrap {
    margin-top: rem(20px);
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    background-image: asset-data-url('components/landing-pages/physiotherapy-treatment/cta-slider/checkmark.png');
    background-position: top 15px left;
    background-repeat: no-repeat;
    border-bottom: 1px solid $brown-offset;
    display: block;
    font-size: rem(14px);
    font-weight: $open-sans-bold;
    padding-bottom: rem(10px);
    padding-left: rem(25px);
    padding-top: rem(10px);
  }

  .generic-orange-button {
    display: block;
    font-size: 28px;
  }
}

.physiomed-online-assessment-service-timeline-wrap {
  margin-bottom: rem(40px);
  margin-top: rem(40px);
}

.physiomed-online-assessment-service-timeline-item {
  @include flex-grid-row;

  &__inner {
    @include responsive-flex-grid-column((medium down: 12, large: 6));
  }

  &__button-wrap {
    margin-top: rem(20px);
    text-align: center;
  }

  &__content {
    background-color: $green;
    border-radius: 50%;
    box-shadow: 3px 3px 8px 4px #ccc;
    height: 300px;
    margin: rem(20px) auto;
    padding: rem(35px);
    position: relative;
    text-align: center;
    width: 300px;
  }

  &__content-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    color: $white;
    text-transform: none;
  }

  &__text p {
    color: $black;
    font-size: 28px;
    font-weight: 700;
  }
}

/*
.physiomed-online-assessment-team-members-wrap {

}
*/

.physiomed-online-assessment-team-members {
  @include flex-grid-row;

  &__inner {
    @include responsive-flex-grid-column((medium down: 12, large: 3));
  }

  &__title {
    text-transform: none;
  }

  &__sub-title {
    color: $green;
    font-size: 14px;
  }

  &__content {
    @include content-box-style;
    margin: rem(20px 0);
    padding: rem(15px);
    text-align: center;
  }

  &__image {
    border-radius: 50%;
  }
}

.physiomed-online-frequently-asked-questions-list {
  @include flex-grid-row;

  &__group {
    @include responsive-flex-grid-column((medium down: 12, large: 6));
  }
}
