<%#= debug facade %>


<% present section do |presenter| %>
  <div class="physiomed-online-assessment-landing-page-introduction-wrap" <%= presenter.background_image_styles %>>
    <div class="physiomed-online-assessment-landing-page-introduction">
      <div class="physiomed-online-assessment-landing-page-introduction__inner">
          <%= presenter.header(:h2, class: 'physiomed-online-assessment-landing-page-introduction__title') %>
        <div class="physiomed-online-assessment-landing-page-introduction__content-box physiomed-online-assessment-landing-page-introduction__content-box--styles">
          <% if presenter.sub_title? %>
            <h3><%= presenter.sub_title %></h3>
          <% end %>
          <%= presenter.content %>
        </div>
      </div>
    </div>
  </div>
<% end %>
