<%= render 'optimadmin/shared/header/main_title', title: 'Edit Guide Download' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: guide_downloads_path, title: 'Guide Download' %>
  <%= render 'form' %>
</div>
