<p>
  <strong>Name</strong><br />

  <%= @contact.name %>
</p>

<p>
  <strong>Telephone</strong><br />

  <%= @contact.telephone %>
</p>

<p>
  <strong>Email</strong><br />

  <%= @contact.email %>
</p>

<p>
  <strong>Message</strong><br />

  <%= @contact.message %>
</p>

