<%= render 'optimadmin/shared/help_guides/sidebar', object: Partner, area: 'edit' %>
<%= render 'optimadmin/shared/header/main_title', title: "Edit #{Partner.model_name.human.titleize}" %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: partners_path, title: Partner.model_name.human.titleize %>
  <%= render 'form', model: @partner %>
</div>
