<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page full-width">
      Server Rejected Change
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <p>The server rejected your requested change. Please try again.</p>

        <p>If you think this is incorrect, please get in touch.</p>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render(
        partial: 'shared/sidebar',
        locals: {
          call_to_action: true,
          testimonials: nil,
          team_members: nil,
          health_zone: wellbeing_zone_health_zone,
          case_studies: nil,
          articles: nil,
        }
      ) %>
    </div>
  </div>
</div>
