<%= render 'optimadmin/shared/header/main_title', title: 'Edit Banner' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: banners_path, title: 'Banner' %>
  <%= render 'form' %>
</div>
