<%= render 'optimadmin/shared/help_guides/sidebar', object: Policies::Document, area: 'new' %>
<%= render 'optimadmin/shared/header/main_title', title: "New #{Policies::Document.model_name.human.titleize}" %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: policies_documents_path, title: Policies::Document.model_name.human.titleize %>
  <%= render 'form', model: @policies_document %>
</div>
