<% cache job_listing do %>
  <div class="job-listing">
    <div class="content">
      <%= link_to job_listing.title, job_listing, class: 'title' %>

      <%= simple_format job_listing.summary %>

      <%= link_to 'Read more', job_listing, class: 'button' %>
    </div>
  </div>
<% end %>
