@import '../../lib/variables',
        '../../lib/styles',
        '../../lib/mixins',
        'optimadmin/global/additional_reset',
        'optimadmin/global/inline_editing',
        'vendor/foundation/foundation',
        url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

.image-left {
  float: left;
  margin: em(16px) em(16px) em(16px) 0;
}

.image-right {
  float: right;
  margin: em(16px) 0 em(16px) em(16px);
}

// This wrapper ensures that they're exclusive to TinyMCE, use alongside .content
.mce-content-body {
  padding: rem(10px);
  @include page-styles;
}
