.body-part {
  margin: rem-calc(20px) auto;
  position: relative;
  width: 100%;

  @include media('>=768px') {
    @include flex-grid-column(4);
    min-height: 204px;
  }

  .name {
    color: $white;
    padding: rem-calc(25px);
  }

  .tagline {
    background-color: rgba($beige, .75);
    bottom: 0;
    color: $brown;
    font-size: rem(16px);
    font-weight: $open-sans-semibold;
    padding: rem(20px) 0;
    position: absolute;
    width: 100%;
    
    @include media('>=768px') {
      width: calc(100% - 30px);
    }
  }
}
