<li class="landing-page-cta-slider__item">
      <%= link_to cta_point.title,
                  "#slide-#{cta_point_counter}",
                  class: 'landing-page-cta-slider__link' %>
    </li>
