<div class="landing-page-cta-slider-content" id="slide-<%= cta_point_counter %>">
  <h2 class="landing-page-cta-slider-content__title">
    <%= cta_point.title %>
  </h2>
  <h3 class="landing-page-cta-slider-content__sub-title">
    <%= cta_point.sub_title %>
  </h3>
  <div class="landing-page-cta-slider-content__inner">
    <%= raw cta_point.content %>
  </div>
</div>

