<%= render 'optimadmin/shared/header/main_title', title: 'Edit Client' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: clients_path, title: 'Client' %>
  <%= render 'form' %>
</div>
