<%= render 'optimadmin/shared/header/main_title', title: 'Edit Landing Page' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: landing_pages_path, title: 'Landing Page' %>
  <%= render 'form' %>
</div>
