.content-mask-wrap {
  background: image-url('banner/mask--whited.png') no-repeat top center;
  padding-top: rem(140px);
}

.banner-mask {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}
