.primary-header-wrap {
  @include breakpoint(large) {
    //@include generic-light-box-shadow($opacity: .25);
    position: sticky;
    top: 0;
    transition: all .25s linear;
    width: 100%;
    z-index: 1000;
  }
}

.primary-header-wrap,
.primary-header {
  background-color: $color--white;
  margin-bottom: 0;
  padding-bottom: rem(15px);
}
/*
.primary-header {
  @include flex-grid-row;

  &__inner {
    @include flex-grid-row(nest);
    @include flex-grid-column(12);
  }

  &__logo {
    @include responsive-flex-grid-column((medium down: 12, large: 3));
    padding-top: rem(15px);
  }

  &__call-to-actions {
    font-family: $font--ubuntu;
    font-weight: $font--ubuntu--light;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__leeds {
    background-color: $color--brown--dark;
    border-bottom-left-radius: $global-border-radius;
    border-bottom-right-radius: $global-border-radius;
    color: $color--white;
    display: inline-block;
    font-size: rem(13px);
    padding: rem(9px 12px);
    transition: background-color .15s linear;

    &:hover,
    &:focus {
      background-color: $color--brown--light;
    }

    &:active {
      background-color: $color--orange;
    }
  }

  &__clinic-area {
    background: asset-data-url('layout/header/call-to-actions/chevron--right-brown.png') no-repeat center right;
    display: inline-block;
    font-size: rem(14px);
    padding: rem(9px 12px);
    transition: color .15s linear;

    &:hover,
    &:focus,
    &:active {
      background-image: asset-data-url('layout/header/call-to-actions/chevron--right-orange.png');
      color: darken($color--brown--dark, 15%);
    }
  }

  &__resources {
    background: asset-data-url('layout/header/call-to-actions/chevron--right-white.png') no-repeat center right 10px;
    background-color: $color--green;
    border-top-left-radius: $global-border-radius;
    border-top-right-radius: $global-border-radius;
    color: $color--white;
    float: right;
    font-size: rem(13px);
    padding: rem(9px 22px 9px 12px);
    transition: background-color .15s linear;

    &:hover,
    &:focus {
      background-color: $color--brown--light;
    }

    &:active {
      background-color: $color--orange;
    }
  }
}

*/
