<div class="case-study">
  <%= link_to case_study.title, case_study %>
  <%= simple_format case_study.summary %>
  <%= image_tag case_study.image.index, alt: case_study.title if case_study.image? %>
  <%= link_to "Read More", case_study %>
</div>
