<div class="home case-study">
  <div class="main-content">
    <% if case_study.image? %>
      <div class="image">
        <%= image_tag case_study.image.thumb if case_study.image? %>
      </div>
    <% end %>
    <div class="basic-details">
      <%= link_to case_study.title, case_study, class: 'home-case-study-title' %>
      <%= simple_format truncate(case_study.summary, length: 250) %>
      <%= link_to "Read More", case_study, class: "button brown-background" %>
    </div>
  </div>
</div>
