<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title full-width">
      Case Studies
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <% if @case_studies.any? %>
          <%= render(
            partial: "case_studies/case_study",
            collection: @case_studies,
            as: :case_study
          ) %>
        <% else %>
          We currently have no case studies available to view.
        <% end %>

        <%= paginate @case_studies %>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render partial: 'shared/sidebar', locals: {
        hide_case_studies: true
      }
      %>
    </div>
  </div>
</div>
