<div class="faq">
  <div class="question">
    <%= image_tag "question.png" %>
    <div class="text">
      <%= frequently_asked_question.question %>
    </div>
  </div>
  <div class="answer">
    <%= raw frequently_asked_question.answer %>
  </div>
</div>
