<div class="hero-section body-part-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page full-width">
      Frequently Asked Questions
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <div class="faqs">
          <%= render(
            partial: "frequently_asked_questions/frequently_asked_question",
            collection: @faqs
          ) %>
        </div>
      </div>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render partial: 'shared/sidebar' %>
    </div>
  </div>
</div>
