.article.home {
  border: 0;
  padding: rem-calc(15px);

  .team-member {
    display: none;
  }

  .title {
    display: block;
    font-size: rem(16px);
    font-weight: $open-sans-bold;
    margin: rem-calc(25px) auto;
    width: 90%;
  }

  .author {
    display: flex;
    width: 90%;
    margin: 0 auto;
    .image {
      margin-right: rem-calc(20px);
      img {
        border-radius: 50%;
      }
    }
  }

  .name {
    font-size: rem(13px);
    font-weight: $open-sans-extrabold;
    line-height: 1;
    padding: rem(10px) 0 0;
  }

  .role {
    font-size: rem(13px);
    margin: rem(4px) 0;
  }
}

.article.wellbeing {
  @include flex-grid-row;

  a:hover {
    color: $green;
  }

  &.main {
    margin-bottom: rem-calc(15px);

    .date {
      font-family: $ubuntu;
      font-size: rem(12px);
      font-weight: $ubuntu-light;
      margin: 0 0 rem(9px);
    }

    .title {
      a {
        display: block;
        font-family: $montserrat;
        font-weight: $montserrat-bold;
        padding: rem(9px) 0 rem(11px);
      }
    }

    .summary {
      p {
        font-family: $montserrat;
        font-size: rem(12px);
        margin: 0 0 rem(10px);
      }
    }

    .read-more {
      a {
        display: block;
        font-family: $montserrat;
        font-size: rem(12px);
        font-weight: $montserrat-light;
        padding: rem(10px) 0 0;
        text-transform: uppercase;
      }
    }

    .image {
      @include flex-grid-column(5);
    }
    .basic-details {
      @include flex-grid-column(7)
    }
  }

  &.supplementary {
    @include supplementary-module-item;
  }
}

.articles-container-title {
  @include module-container-title;
}

.article,
.case-study {
  @include flex-grid-row;
  border-bottom: 1px solid $beige;
  margin-bottom: rem(10px);
  padding-bottom: rem(10px);

  .button {
    background: $brown;
    margin: rem(15px) 0 0;

    &:hover {
      background: $mud-brown;
    }
  }

  .title {
    display: block;
    font-size: rem(18px);
    font-weight: $open-sans-bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .date {
    color: $dark-brown-offset;
    font-size: rem(12px);
  }

  .content.has-aside {
    @include flex-grid-column(8, $gutter: (small: 0));
  }

  .aside-wrap {
    @include flex-grid-column(4);
  }

  .entry-image {
    // @include flex-grid-column(3, $gutter: (small: 0));
    margin: rem(24px) 0 0;
    text-align: right;
  }

  .team-member {
    @include flex-grid-row;
    margin: rem(15px) 0 0;
    padding: 0;

    .image {
      @include flex-grid-column(3, $gutter: (small: 0));
    }
  }

  .basic-details {
    @include flex-grid-column(9, $gutter: (small: 0));
  }

  .team-member .name,
  .team-member .role {
    margin: 0;
    padding: rem(4px) 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
