.article.home {
  padding: rem-calc(15px);
  .title {
    margin: rem-calc(25px) auto;
    display: block;
    text-align: center;
  }

  .author {
    display: flex;
    width: 90%;
    margin: 0 auto;
    .image {
      margin-right: rem-calc(20px);
      img {
        border-radius: 50%;
      }
    }
  }
}

.article.wellbeing {
  @include flex-grid-row;

  a:hover {
    color: $green;
  }

  &.main {
    margin-bottom: rem-calc(15px);
    .image {
      @include flex-grid-column(5);
    }
    .basic-details {
      @include flex-grid-column(7)
    }
  }

  &.supplementary {
    @include flex-grid-column(12);
    a {
      padding: rem-calc(20px);
      margin-bottom: rem-calc(5px);
      display: block;
      width: 100%;
      @include flex-grid-row;

      .date {
        @include flex-grid-column(2);
      }

      .title {
        @include flex-grid-column(10);
      }
    }
  }
}
