.article.home {
  border: 0;
  padding: rem-calc(15px);

  .title {
    display: block;
    font-size: rem(16px);
    font-weight: $open-sans-bold;
    margin: rem-calc(25px) auto;
    width: 90%;
  }

  .author {
    display: flex;
    width: 90%;
    margin: 0 auto;
    .image {
      margin-right: rem-calc(20px);
      img {
        border-radius: 50%;
      }
    }
  }

  .name {
    font-weight: $open-sans-extrabold;
  }
}

.article.sidebar,
.case-study.sidebar {
  @include clearfix;
  border-bottom: 1px solid $beige;
  display: block;
  padding: rem-calc(5px 0 5px);
  overflow: hidden;
  width: 100%;

  img {
    margin: rem-calc(3px 10px 0 0);

    @include media('>=1024px') {
      float: left;
    }
  }

  .details {
    overflow: hidden;
  }

  .title {
    display: block;
    font-size: rem(14px);
    font-weight: $open-sans-bold;
    margin: 0 auto rem-calc(5px);
    width: 100%;
  }

  .date {
    font-size: rem(12px);
  }

  .team-member {
    display: flex;
    margin: 0 auto;
    width: 100%;

    .image {
      img {
        border-radius: 50%;
      }
    }
  }

  .name {
    font-weight: $open-sans-extrabold;
  }
}

.article.wellbeing {
  @include flex-grid-row;

  a:hover {
    color: $green;
  }

  &.main {
    margin-bottom: rem-calc(15px);

    .date {
      font-family: $ubuntu;
      font-size: rem(12px);
      font-weight: $ubuntu-light;
      margin: 0 0 rem(9px);
    }

    .title {
      a {
        display: block;
        font-family: $montserrat;
        font-weight: $montserrat-bold;
        padding: rem(9px) 0 rem(11px);
      }
    }

    .summary {
      p {
        font-family: $montserrat;
        font-size: rem(12px);
        margin: 0 0 rem(10px);
      }
    }

    .read-more {
      a {
        display: block;
        font-family: $montserrat;
        font-size: rem(12px);
        font-weight: $montserrat-light;
        padding: rem(10px) 0 0;
        text-transform: uppercase;
      }
    }

    .image {
      @include flex-grid-column(5);
    }
    .basic-details {
      @include flex-grid-column(7)
    }
  }

  &.supplementary {
    @include supplementary-module-item;
  }
}

.articles-container-title {
  @include module-container-title;
}

.article,
.case-study,
.subcategory,
.job-listing {
  @include flex-grid-row;
  border-bottom: 1px solid $beige;
  margin-bottom: rem(10px);
  padding-bottom: rem(10px);

  .button {
    background: $brown;
    margin: rem(15px) 0 0;

    &:hover {
      background: $mud-brown;
    }
  }

  .title {
    display: block;
    font-size: rem(18px);
    font-weight: $open-sans-bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .date {
    color: $dark-brown-offset;
    font-size: rem(12px);
  }

  .content.has-aside {
    @include flex-grid-column(12, $gutter: (small: 0));
    order: 2;

    @include media('>=768px') {
      @include flex-grid-column(8, $gutter: (small: 0));
    }
  }

  .aside-wrap {
    @include flex-grid-column(12, $gutter: (small: 0));
    order: 1;

    @include media('>=768px') {
      @include flex-grid-column(4);
    }
  }

  .entry-image {
    // @include flex-grid-column(3, $gutter: (small: 0));
    margin: rem(24px) 0 0;
    text-align: right;
  }

  .team-member {
    @include flex-grid-row;
    margin: rem(15px) 0 0;
    padding: 0;

    .image {
      @include flex-grid-column(3, $gutter: (large: 0));
    }
  }

  .basic-details {
    @include flex-grid-column(9, $gutter: (large: 0, medium: 10));
  }

  .team-member .name {
    margin: 0;
    padding: rem(5px 0 0);
  }

  .team-member .role {
    margin: 0;
    padding: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
