.banners-wrap {
  position: relative;

  @include media('<=1024px') {
    background: $beige;
    padding: rem(1px);
  }
}

.banner-mask {
  display: none;

  @include media('>=768px') {
    display: block;
    //left: 50%;
    left: 0;
    position: absolute;
    top: 0;
    //transform: translate(-50%, 0);
    z-index: 3;
  }
}

.banner {
  background: $beige;
  position: relative;

  img {
    margin: 0 auto;
  }

  h1 {
    font-size: rem(19px);
    font-weight: $open-sans-bold;
    line-height: 1.25;

    @include media('>=768px') {
      font-size: rem(38px);
    }
  }

  p {
    font-weight: $open-sans-semibold;
  }
}

.banner-read-more {
  &:link,
  &:visited {
    background: $brown;
    border-radius: 2px;
    color: $white;
    display: inline-block;
    font-size: rem(12px);
    padding: rem(10px);
    text-transform: uppercase;

    @include media('>=768px') {
      font-size: rem(15px);
      padding: rem(10px 40px);
    }
  }

  &:hover,
  &:active {
    background: $green;
  }
}

.banner-content-wrap {
  @include flex-grid-row;
  position: relative;
}

.banner-content {
  background: rgba($green, .75);
  color: $white;
  left: 0;
  padding: rem(20px);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  @include media('>=768px') {
    max-width: 524px;
    padding: rem(136px 63px 60px);
  }
}
