.body-part-sections-container {
  @include flex-grid-column(12);
  ul#tabs {
    list-style-type: none;
    margin-bottom: 4px;
  }

  ul#tabs li {
    display: inline;
    background-color: $beige;
    padding: rem-calc(5px 8px);
    margin: 0 rem-calc(5px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:hover, &.current {
      background: $green;
      a {
        color: $white;
      }
    }
  }

  .body-part-section {
    display: none;
    @include border-radius-with-box-shadow;
    border-top: 5px solid $green;
    padding: rem-calc(20px);
  }

  .body-part-section.current {
    display: block;
  }

  .body-part-section h2 {
    color: $green;
    border-bottom: 2px solid $green;
    margin: rem-calc(5px 0);
  }

  .body-part-section h3 {
    color: $green;
  }
}
