.slick-case-studies {
  display: inline-block;
  height: 18px;
  text-indent: -9999px;
  padding: 0 rem(10px);
  width: 10px;

  &.slick-prev {
    background: image-url('slick/arrow-left.png') center no-repeat;
  }

  &.slick-next {
    background: image-url('slick/arrow-right.png') center no-repeat;
  }
}

.home.case-study {
  text-align: center;
  margin: 0 rem(10px);

  .main-content {
    text-align: left;
    display: flex;
    margin-bottom: rem-calc(25px);
  }

  .image {
    margin-right: rem-calc(15px);
    img {
      border: 1px solid $mud-brown;
    }
  }
}

.wellbeing.case-study {
  @include flex-grid-row;

  a:hover {
    color: $green;
  }

  &.main {
    margin-bottom: rem-calc(15px);
    .image {
      @include flex-grid-column(5);
    }
    .basic-details {
      @include flex-grid-column(7)
    }
  }

  &.supplementary {
    @include flex-grid-column(12);
    a {
      padding: rem-calc(20px);
      margin-bottom: rem-calc(5px);
      display: block;
      width: 100%;
      @include flex-grid-row;

      .date {
        @include flex-grid-column(2);
      }

      .title {
        @include flex-grid-column(10);
      }
    }
  }

}


.home-case-study-title {
  font-weight: $open-sans-bold;
}
