$notice: $dark-green;
$error: $brown;
$alert: $brown;
$text-color: $white;
$border-color: $mud-brown;

%flash-heading {
  font-weight: normal;
}

%flash-message {
  border: 1px solid $border-color;
  border-radius: 3px;
  color: $text-color;
  font-size: rem(16px);
  margin: 0 0 rem(20px);
  padding: rem(5px);
}

// Flash
.flash-message {
  @extend %flash-message;

  h2 {
    @extend %flash-heading;
    text-transform: none;
  }

  ul {
    font-weight: normal;
  }

  &.notice {
    background: $notice;
    font-weight: bold;
  }

  &.error {
    background: $error;
    font-weight: bold;
  }

  &.alert {
    background: $alert;
    font-weight: bold;
  }
}

.error_messages,
#error_explanation {
  @extend %flash-message;
  background: $alert;

  h2 {
    @extend %flash-heading;
    text-transform: none;
  }

  ul {
    font-weight: normal;
  }
}
