.home {
  form.new_physio_search {
    width: 60%;
    input[type="submit"].input-add-on-item {
      background: $green image-url("icons/search.png") no-repeat center center;
    }
  }
}

.find-a-physio-map-canvas {
  height: 400px;
  margin: rem(20px) 0 0;
  width: 100%;
}

.physio-search-results-list {
  margin: rem(10px) 0 0;
}

.physio-search-result {
  border-bottom: 1px dotted $brown;
  font-size: rem(16px);
  margin: 0 0 rem(5px);
  padding: 0 0 rem(5px);

  &.active {
    border-color: $green;
    color: $green;
  }
}

.physio-search-result-distance {
  float: right;
  font-size: rem(14px);
  font-weight: $open-sans-semibold;
}
