.primary-header-navigation {
  list-style: none;
  margin: rem(25px 0 0);

  li {
    display: inline-block;
  }

  .menu-link {
    &:link,
    &:visited {
      padding: rem(0 5px 7px);
      color: $brown;
      font-family: $ubuntu;
      font-weight: $ubuntu-light;
      line-height: 1;
    }

    &:hover,
    &:active {
      color: $green;
    }

    &.active {
      border-bottom: 4px solid $green;
    }
  }
}

// Stop the two line content flash, until the font has loaded
.wf-active .primary-header-navigation .menu-link {
  padding: rem(0 8px 7px);
}
