// Savings calculator
#amount {
  width: 50px;
  text-align: center;
}

.slider_form {
  text-align: center;
}

.slider-wrap {
  margin: 0 auto;
  width: 80%;

  .slider {
    margin: 0 auto !important;
  }
}

.data {
  margin: 25px 0 12px;
}

.total_save {
  margin: 8px 0;
  text-align: center;
}

#total_saving {
  font-weight: bold;
  font-size: 18px;
}


.calculator-microcopy {
  font-size: 12px;
  padding: 0 10px;
  text-align: center;
}
