.service-standards-wrap {
  // box-shadow: 0 4px 10px 0 rgba($black ,0.36);

  @include media('>=768px') {
    background: image-url('service-standards/background.jpg') center no-repeat;
    background-size: 1366px auto;
    margin: rem(50px 0 25px);
    padding: rem(30px 0);
  }

  @include media('>=1024px') {
    padding: rem(60px 0 70px);
  }
}

.service-standard-wrap {
  box-shadow: 0 1px 10px 0 rgba($black, .36);
}

.service-standard {
  @include clearfix;
  background: $green linear-gradient(to bottom, $green 0%, $dark-green 100%);
  color: $white;
  padding: rem-calc(5px);
  text-align: center;
  transition: background-color 500ms linear;

  a {
    color: $white;
  }

  @include media('>=768px') {
    border-right: 1px solid $white;
    min-height: 245px;
    padding: rem-calc(20px 10px);
  }

  img {
    @include media('<768px') {
      float: left;
      margin: rem(-10px 15px 0 0);
    }
  }

  p {
    font-size: rem(14px);
    text-align: left;

    @include media('>=768px') {
      text-align: center;
    }

    @include media('>=1024px') {
      font-size: rem(16px);
    }
  }

  .arrow-down {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $white;
    height: 0;
    margin: rem-calc(5px) auto;
    width: 0;
  }

  &:hover {
    background-color: $brown;
    cursor: pointer;
    transition: background-color 500ms linear;
  }

  &:last-child {
    border-right: 0;
  }
}

.service-standards-title {
  font-size: rem(18px);
  font-weight: 400;
  margin: 0 0 rem(15px);

  @include media('>=768px') {
    color: $white;
    margin: rem(0 0 45px);
  }
}
