@mixin beige-box {
  background-color: $beige;
  width: rem-calc(45px);
  height: rem-calc(45px);
}

@mixin prev-button {
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 1;
}

@mixin next-button {
  position: absolute;
  top: 50%;
  right: 1%;
  z-index: 1;
}

button.slick-prev.slick-articles,
button.slick-prev.slick-health-zone,
button.slick-prev.slick-team-members {
  @include beige-box;
  @include prev-button;
  background-image: image-url('icons/slider/left.png');
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
  }
}

button.slick-next.slick-articles,
button.slick-next.slick-health-zone,
button.slick-next.slick-team-members {
  @include beige-box;
  @include next-button;
  background-image: image-url('icons/slider/right.png');
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
  }
}
