.social-links-wrap {
  background: $white;
}

.social-links-inner {
  // background: image-url('banner/colour-bg.jpg') no-repeat top center;
  // background-size: 1366px 100%;
  padding: rem(15px 0);

  @include media('>=768px') {
    padding: rem(60px 0 15px);
  }
}

.social-links {
  @include flex-grid-row;
}

.social-links-list {
  list-style: none;
  width: 100%;

  @include media('>=768px') {
    @include flex-grid-column(6);
  }

  li {
    display: inline-block;
    margin: rem(0 5px);
    padding: rem(0 15px);
  }
}

.social-methods {
  bottom: 0;
  padding: rem(0 15px);
  position: fixed;
  right: 0;
  text-align: right;
  z-index: 10;

  @media screen and (max-width: 1023px) and (min-height: 400px) {
    bottom: 110px;
    right: -120px;
    transform: rotate(-90deg);
  }

  @include media('>=768px') {
    @include flex-grid-column(6);
  }
}

.contact-action {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: $white;
  display: inline-block;
  font-family: $ubuntu;
  font-size: rem(13px);
  font-weight: $ubuntu-light;
  margin: rem(10px 0 0);
  padding: rem(14px 44px 14px 14px);
}

.get-in-touch-action {
  background: $brown image-url('icons/footer-social/speech-bubble.png') 92% 50% no-repeat;

  &:hover {
    background-color: lighten($brown, 10%);
  }
}

.find-a-physio-action {
  background: $green image-url('icons/footer-social/search-icon.png') 92% 50% no-repeat;

  &:hover {
    background-color: lighten($green, 10%);
  }
}
