.team-member.wellbeing {
  padding: rem-calc(10px);

  .name {
    padding: rem-calc(10px) 0;
    border-bottom: 1px solid $brown;
  }

  .role {
    margin: rem-calc(5px) auto;
    color: $green;
  }
}

.team-members-container {
  h2 {
    font-size: rem(18px);
    font-weight: 400;
  }

  span {
    font-weight: $open-sans-bold;
  }
}
