.page-testimonials {
  @include border-radius-with-dark-box-shadow;
  background: $white;
  margin: rem(10px) 0;
  padding: rem(17px);
}

.home {
  .testimonials-container {
    @include media('>768px') {
      @include flex-grid-column(4);
    }
  }

  .testimonial-title {
    color: $green;
    font-weight: $open-sans-extrabold;
  }

  .testimonial-author,
  .testimonial-role {
    font-weight: $open-sans-semibold;
  }
}

.testimonials-title {
  background: image-url('icons/testimonial.png') 95% 0 no-repeat;
}

.testimonials.slick-slider {
  margin: 0 rem(10px);
  
  @include media('>768px') {
    margin: 0 rem(20px);
  }
}

.testimonials-container.wellbeing.green-background {
  background: $green image-url('icons/testimonial-white.png') 50% 40px no-repeat;
  padding: rem(60px) rem(20px) rem(10px);

  .slick-dots {
    margin: rem(50px) 0;
    position: static;

    li button:before {
      color: $white;
      font-size: 11px;
      opacity: 1;
    }

    li.slick-active button:before {
      color: $brown;
    }
  }
}

.testimonials.wellbeing {

  .testimonial-content {
    p {
      color: $white;
      font-family: $montserrat;
      font-weight: 400;
      font-size: rem(14px);
      text-align: center;
    }
  }

  .testimonial-author,
  .testimonial-role {
    color: $white;
    font-family: $montserrat;
    font-size: rem(12px);
    font-weight: $montserrat-bold;
    text-align: center;
  }
}


.testimonials-index-wrap {
  @include flex-grid-column(9);

  .testimonial {
    @include border-radius-with-dark-box-shadow;
    background: $white image-url('icons/testimonial-flipped.png') no-repeat right 20px bottom 20px;
    padding: rem(5px) rem(15px) rem(10px);
    margin: rem(5px) 0;

    p {
      font-style: italic;
    }
  }

  .testimonial-author {
    font-weight: $open-sans-extrabold;
  }

  .testimonial-role {
    font-weight: $open-sans-semibold;
  }
}
