.video {
  @include media('>=768px') {
    @include flex-grid-row;

    .video-iframe {
      @include flex-grid-column(6);
    }

    .basic-details {
      @include flex-grid-column(6);
    }
  }

  h2 {
    @include module-container-title-header;
  }

  .video-subtitle {
    color: $green;
    font-size: rem(19px);
    font-weight: $open-sans-extrabold;
  }
}
