<%= render 'optimadmin/shared/header/main_title', title: 'New Client Zone Additional Content' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: client_zone_additional_contents_path, title: 'Client Zone Additional Content' %>
  <%= render 'form' %>
</div>
