.services-content-items-colour-split {
  background-position: top right;
  background-repeat: no-repeat;

  @include breakpoint(medium down) {
    padding-bottom: rem(50px);
    padding-top: rem(50px);
  }

  @include breakpoint(large) {
    padding: rem(50px);
  }

  &__inner {
    @include flex-grid-row;
    font-weight: $font--open-sans--bold;
    justify-content: space-between;

    ul {
      list-style-position: outside;
      margin-left: rem(14px);
    }
  }

  &__title {
    @include flex-grid-row;
  }

  &__full {
    @include flex-grid-column(12);
  }

  &__title-text {
    border-bottom: 3px solid $color--brown--beige;
    color: $color--brown--dark;
    display: block;
    font-size: rem(24px);
    font-weight: $font--open-sans--semibold;
    padding-bottom: rem(20px);
    margin-bottom: rem(40px);
    text-align: center;
    width: 100%;
  }

  .services-section-item-basic {
    @include responsive-flex-grid-column((small only: 12, medium: 6));
  }

  .services-section-item-colour {
    @include responsive-flex-grid-column((small only: 12, medium: 6, large: 5));
  }
}

