.services-content-items-colour-split {
  background-position: top right;
  background-repeat: no-repeat;

  @include breakpoint(medium down) {
    padding-bottom: rem(50px);
    padding-top: rem(50px);
  }

  @include breakpoint(large) {
    padding: rem(50px);
  }

  &__inner {
    @include flex-grid-row;
    font-weight: $font--open-sans--bold;
    justify-content: space-between;

    ul {
      list-style-position: outside;
      margin-left: rem(14px);
    }
  }

  .services-section-item-basic {
    @include responsive-flex-grid-column((medium down: 12, large: 6));
  }

  .services-section-item-colour {
    @include responsive-flex-grid-column((medium down: 12, large: 5));
  }
}

