.services-introductary-triangle {
  @include flex-grid-row;
  margin-bottom: rem(100px);
  margin-top: rem(50px);
  position: relative;

  &::after {
    @include triangle('down', #000, 120px);
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  @include service-colours-pseudo('after', border-top-color);

  &__inner {
    @include flex-grid-column(12);
    @include service-colours-pseudo('before', background-color);
    position: relative;
    text-align: center;

    &::before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: perspective(4em) rotateX(1deg);
    }
  }

  &__title {
    font-size: rem(32px);
    font-weight: $font--open-sans--regular;
    margin: rem(0 0 40px);
    position: relative;

    &::after {
      background-color: $color--white;
      bottom: -20px;
      content: '';
      height: 1px;
      left: 0;
      opacity: .33;
      position: absolute;
      width: 100%;
    }
  }

  &__text {
    @include service-colours-text(color);
    padding: rem(40px);
    position: relative;
    z-index: 2;
  }

  &__content {
    margin-left: rem(40px);
    margin-right: rem(40px);
  }
}
