<div class="what-we-do-item">
  <div data-role="what-we-do-title" class="what-we-do-item-title">
    <%= what_we_do.title %>
  </div>

  <%= raw what_we_do.content %>
  <ul class="what-we-do-item-list">
    <%= render what_we_do.displayed_links %>
  </ul>
</div>

