<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= landing_pages_guide.id %>">
  <div class="large-1 hide-for-medium-down columns" data-equalizer-watch="module-list">
    <span class="drag-helper"></span>
  </div>
  <div class="large-11 columns" data-equalizer-watch="module-list">
    <%= landing_pages_guide.guide_title %>
  </div>
</div>
