<%= render 'optimadmin/shared/header/main_title', title: 'New What We Do' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: what_we_dos_path, title: 'What We Do' %>
  <%= render 'form' %>
</div>
