<div class="home testimonial">
  <%= link_to testimonial.title, testimonials_path(anchor: "testimonial-#{ testimonial.id }"), class: 'testimonial-title' %>

  <%= simple_format testimonial.content %>

  <div class="testimonial-author">
    <%= testimonial.author %>
  </div>
  
  <div class="testimonial-role">
    <%= testimonial.role %>
  </div>
</div>
