<div class="testimonial">
  <div class="testimonial-content">
    <%= simple_format testimonial.content %>
  </div>

  <div class="testimonial-author">
    <%= testimonial.author %>
  </div>

  <div class="testimonial-role">
    <%= testimonial.role %>
  </div>
</div>
