<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page full-width">
      What People Say
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="testimonials-index-wrap">
      <% if @testimonials.any? %>
          <%= render(
            partial: "testimonials/testimonial",
            collection: @testimonials,
            as: :testimonial
          ) %>
      <% else %>
        We currently have no testimonials to display.
      <% end %>
    </div>

    <div class="page-contact-methods-wrap">
      <%= render(
        partial: 'shared/sidebar',
        locals: {
          call_to_action: true,
          testimonials: nil,
          team_members: nil,
          health_zone: wellbeing_zone_health_zone,
          case_studies: latest_case_studies,
          articles: latest_articles,
        }
      ) %>
    </div>
  </div>
</div>
