<div class="hero-section standard-page-background">
  <div class="hero-section-header">
    <h1 class="hero-section-title page full-width">
      Client Zone
    </h1>
  </div>

  <div class="hero-section-primary-content">
    <div class="page-content-wrap full-width">
      <div class="page-content">
        <p>
          To access the Client Zone, please enter the username and password below.
        </p>

        <%= render 'shared/flash_messages' %>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
