<%= render 'optimadmin/shared/header/main_title', title: 'New What We Do Link' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back',
    path: what_we_do_what_we_do_links_path(@what_we_do),
    title: 'What We Do Link' %>
  <%= render 'form' %>
</div>
