<footer>
  <div class="footer-container">
    <h2 class="text-center">Awards & accreditations</h2>
  </div>
  <div class="awards-container">
    AWARDS BE HERE
  </div>
  <div class="footer-container">
    <p>
      &copy; <%= Date.today.year %> Physio Med Limited
    </p>
    <p>
      All of our Physiotherapists are registered with the health and Care Professional Council
      and meet their standards.  Our Physiotherapists are registered with the Chartered Society
      of Physiotherapy and meet their standards.
    </p>
  </div>
</footer>
