<%= render 'optimadmin/shared/header/main_title', title: 'Edit Guide' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: guides_path, title: 'Guide' %>
  <%= render 'form' %>
</div>
